name: Test Installers

on:
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/test-installers.yml"
      - "installers/**"
  pull_request:
    branches: [ main ]

jobs:

  fedora:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Fedora Install
      run: sh test/fedora/test.sh installers/fedora_install_packages.sh

  fedoragaming:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Fedora Gaming Install
      run: sh test/fedora/test.sh installers/fedoragaming_install_packages.sh

  server:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Rocky Server Install
      run: sh test/rocky/test.sh installers/server_install_packages.sh

  cloud:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Rocky Cloud Install
      run: sh test/rocky/test.sh installers/cloud_install_packages.sh

  manjarogaming:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Manjaro Gaming Install
      run: sh test/archlinux/test.sh installers/manjaro_gaming_install_packages.sh
