name: Test Installers

on:
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/test-installers.yml"
      - "installers/**"
      - "test/**"
  pull_request:
    branches: [ main ]

jobs:

  fedora:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Fedora Install
      run: sh test/fedora/test.sh installers/fedora_install_packages.sh

  fedoragaming:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Fedora Gaming Install
      run: sh test/fedora/test.sh installers/fedoragaming_install_packages.sh

  server_el8:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Rocky 8 Server Install
      run: sh test/rocky/el8/test.sh installers/server_install_packages.sh

  server_el9:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Rocky 9 Server Install
      run: sh test/rocky/el9/test.sh installers/server_install_packages.sh

  nameserver_buster:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Debian Buster Nameserver Install
      run: sh test/debian/buster/test.sh installers/dns_install_packages.sh

  nameserver_bullseye:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Debian Bullseye Nameserver Install
      run: sh test/debian/bullseye/test.sh installers/dns_install_packages.sh

  cloud:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Rocky 8 Cloud Install
      run: sh test/rocky/el8/test.sh installers/cloud_install_packages.sh

  manjarogaming:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Test Manjaro Gaming Install
      run: sh test/archlinux/test.sh installers/manjaro_gaming_install_packages.sh
  
  windows:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3
      - name: Test Windows Install
        run: powershell.exe -executionpolicy bypass test/windows/test.ps1 installers/win_install_packages.ps1
  
  windowsgaming:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3
      - name: Test Windows Gaming Install
        run: powershell.exe -executionpolicy bypass test/windows/test.ps1 installers/wingaming_install_packages.ps1
